body{
  font-family: $regular-font;
}
.wrapper{
  max-width: 1370px;
  margin: 0 auto;
  @include padding-two-param(0,15px);
}
.full-width-left{
  width: 100%;
  float: left;
}
ul{
  margin-bottom: 0!important;
}
a:hover,a:focus{
  text-decoration: none!important;
  @include transition(all linear 0.3s);
}
a{
  @include transition(all linear 0.3s);
}
input.input-field{
  height: 41px;
  width: 100%;
  border: 1px solid $input-border;
  @include padding-two-param(0,20px);
  @include input-placeholder{
    @include font-source(20px,#9b9b9b);
  }
  &:focus{
    border: 1px solid $button_main_color;
  }
}
textarea{
  width: 100%;
  resize: none;
  border: 1px solid $input-border;

}
input:focus,textarea:focus{
  outline: none;
}