$black:rgb(0,0,0);
$white:rgb(255,255,255);
$button_main_color: #d1543c;
$menu_text_color: #eaeaea;
$active_menu_color:#993d3b;
$dropdown_text_color:#4a4a4a;
$fb_icon_color:#4a90e2;
$youtube_icon_color:#d0021b;
$gradient_top_color:#650705;
$gradient_bottom_color:#161313;
$grey_text:#4a4a4a;
$light_grey:#eaeaea;
$small_blocks_bg:#d0021b;
$orange_bg:#8f2b29;
$footer-bg:#150605;
$footer-menu-color:#f36246;

$regular-font: 'ubuntu_regular';
$bold-font:  'UbuntuBold';
