.cst_page {
  padding: 0px 0px 60px 0px;
  .review_title{
    h2{
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }

}
.customer_review_page{
  .review_title{
    h2{
      @include font-source(70px,$grey_text);
      font-family: $bold-font;
    }
    p{
      @include font-source(22px,$grey_text,normal,32px,1.2px);
      width: 100%;
    }
  }
  .review_block{
    position: relative;
    background: $review_bg;
    @include padding-two-param(40px,50px);
    margin-top: 65px;
    &:last-child{
      margin-bottom: 160px;
    }
    .review_text{
      @include font-source(22px,$grey_text,normal,28px,1.2px);
      width: 80%;
    }
    .customer_name{
      @include font-source(35px,$grey_text);
      font-family: $bold-font;
      letter-spacing: 0.1px;
      margin-bottom: 0;
    }
    .last_row{
      @include font-source(25px,$button_main_color);
      letter-spacing: 0.1px;
      font-family: $bold-font;
      margin-left: 45px;
      margin-bottom: 0;
    }
    span.review_quote{
      @include position_absolute(absolute,15px,inherit,inherit,20px);
      @include font-source(30px,$white);
    }
  }
}
@media screen and (max-width: 1100px){
  .customer_review_page{
    .review_title{
      h2{
        font-size: 40px;
      }
      p{
        @include font-source(18px,$grey_text,normal,25px,1px);
        width: 100%;
      }
    }
    .review_block{
      @include padding-two-param(30px,30px);
      .review_text{
        @include font-source(18px,$grey_text,normal,28px,1px);
        width: 100%;
      }
      .customer_name{
        font-size: 25px;
      }
      span.review_quote,.last_row{
       font-size: 20px;
        margin-left: 0;
      }
      &:last-child{
        margin-bottom: 50px;
      }
    }
  }
}