.restorations_page{
  padding-bottom: 100px;
  .text_small_blocks{
    width: 100%!important;
    margin-top: 23px;
    .text_content{
      width: 82%!important;
      min-height: 185px;
      p{
        width: 60%;
      }
    }
  }
  .restoration_details{
    h2.section_title{
      @include font-source(70px,$grey_text);
      font-family: $bold-font;
      margin: 0 0 30px 0;
    }
    .text_content{
      width: calc(100% - 400px);
      float: left;
      p{
        @include font-source(22px,$grey_text,normal,32px,1.2px);
        margin-bottom: 35px;
      }
    }
    .img_block{
      float: right;
      width: 350px;
      height: 360px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .recent_restorations_title{
    margin-top: 110px;
    h2{
      @include font-source(52px,$black);
      font-family: $bold-font;
      margin-top: 0;
    }
    p{
      @include font-source(22px,$grey_text,normal,32px,1.2px);
    }
  }
}
@media screen and (max-width: 1100px){
  .restorations_page {
    .restoration_details{
      h2.section_title{
        font-size: 40px;
      }
      .text_content{
        p{
          @include font-source(18px,$grey_text,normal,25px,1px);
        }
      }
    }
    .recent_restorations_title{
      margin-top: 70px;
      h2{
        @include font-source(40px,$black);
        font-family: $bold-font;
      }
      p{
        @include font-source(18px,$grey_text,normal,25px,1px);
      }
    }
  }
}
@media screen and (max-width: 767px){
  .restorations_page {
    .restoration_details{
      .text_content{
        width: 100%;
      }
      .img_block{
        width: 100%;
        margin-bottom: 20px;
        height: 250px;
      }
    }
    .text_small_blocks {

      .text_content {
        width: 60%!important;
        p {
          width: 100%;
        }
      }
    }
  }
}