@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/UbuntuBold/UbuntuBold.eot');
    src: url('../fonts/UbuntuBold/UbuntuBold.eot') format('embedded-opentype'),
    url('../fonts/UbuntuBold/UbuntuBold.woff2') format('woff2'),
    url('../fonts/UbuntuBold/UbuntuBold.woff') format('woff'),
    url('../fonts/UbuntuBold/UbuntuBold.ttf') format('truetype'),
    url('../fonts/UbuntuBold/UbuntuBold.svg#UbuntuBold') format('svg');
}
@font-face {
    font-family: 'ubuntu_regular';
    src: url('../fonts/ubuntu_regular/ubuntu_regular.eot');
    src: url('../fonts/ubuntu_regular/ubuntu_regular.eot') format('embedded-opentype'),
    url('../fonts/ubuntu_regular/ubuntu_regular.woff2') format('woff2'),
    url('../fonts/ubuntu_regular/ubuntu_regular.woff') format('woff'),
    url('../fonts/ubuntu_regular/ubuntu_regular.ttf') format('truetype'),
    url('../fonts/ubuntu_regular/ubuntu_regular.svg#ubuntu_regular') format('svg');
}